.container{
  background: #c6e4e5;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 20%40%0%;
  .footer{
    display: grid;
    justify-content: center;
    button{
      width: 130px;
      height: 50px;
      border-radius: 5px;
      cursor: pointer;
      
    }

  }

  h1{
    font-family: Montserrat;
    font-weight: 900;
    font-size: 55px;
    line-height: 100px;
    color: #008b92;
    text-align: center;
  }
  h3{
    font-family: Montserrat;
    font-weight: 900;
    font-size: 35px;
    line-height: 100px;
    color: #424949;
    text-align: center;
  }
}